<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Консольный аппендер -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Файловый аппендер -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/qubitlock.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Уровни логирования -->
    <logger name="com.qubitlock" level="INFO" />
    <logger name="io.ktor" level="INFO" />
    <logger name="org.mongodb" level="WARN" />
    <logger name="com.mongodb" level="WARN" />
    <logger name="io.netty" level="WARN" />
    <logger name="io.github.jopenlibs" level="WARN" />

    <!-- Корневой логгер -->
    <root level="WARN">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>